* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: column nowrap;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border: 1px solid red;
}

.navbar-container {
  justify-content: space-between;
  align-content: center;
  padding: 32px 256px;
  padding-bottom: 0;
  border: 1px solid red;
}

.navbar-container,
ul {
  display: flex;
  gap: 16px;
}

.title-container {
  display: flex;
  flex-direction: row;
  border: 1px solid red;
  margin: 128px 256px;
  justify-content: space-between;
}

.placeholder-image {
  background-color: gray;
  border: 1px solid red;
  padding: 0px 64px;
}

.title-container button {
  padding: 4px 20px;
  border-radius: 6px;
  border: 0;
  background-color: #3882f6;
}
