* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: column nowrap;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header Section */

.header-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border: 1px solid red;
}

.navbar-container {
  justify-content: space-between;
  align-content: center;
  padding: 32px 256px;
  padding-bottom: 0;
  border: 1px solid red;
}

.navbar-container,
ul {
  display: flex;
  gap: 16px;
}

.title-container {
  display: flex;
  flex-direction: row;
  border: 1px solid red;
  margin: 128px 256px;
  justify-content: space-between;
}

.placeholder-image {
  background-color: gray;
  border: 1px solid red;
  padding: 0px 64px;
}

.title-container button {
  padding: 4px 20px;
  border-radius: 6px;
  border: 0;
  background-color: #3882f6;
}

.title-container p {
  padding-bottom: 2px;
}

/* Info Section */

.info-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
}

.info-container .title {
  border: 1px solid red;
}

.items-with-subtext {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  border: 1px solid red;
}

.items-with-subtext div {
  border: 1px solid red;
}

.items-with-subtext p {
  text-align: center;
  max-width: 17ch;
}

.item {
  height: 17ch;
  border: 1px solid red;
  border-radius: 8px;
}
